@import '../../styles/base.scss';

.HomeView {
  background-image: url('../../img/hero-bg-webp.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  /*  @include for-size(tablet) {
    background-image: url('../../img/hero-bg-tablet.webp');
  } */

  @include for-size(desktop) {
    background-image: none;
  }

  //https://i.ibb.co/6w8MSWJ/2420689.jpg
}

.HomeView__container {
  margin: 0 auto;
  min-height: 300px;

  @include for-size(tablet) {
    min-height: 550px;
  }

  @include for-size(desktop) {
    background-image: url('../../img/hero-bg-tablet.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    min-height: 650px;
  }
}

.HomeView-title {
  @extend %titles;
}
