@import '../../styles/base.scss';

.HomeView {
  background-image: url('../../img/hero-bg-webp.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  //https://i.ibb.co/6w8MSWJ/2420689.jpg
}

.HomeView__container {
  margin: 0 auto;
  min-height: 300px;
}

.HomeView-title {
  @extend %titles;
}
