@import '../../styles/base.scss';

/* .login {
  padding: 10px;
} */

.login__title {
  @extend %form-title;
}

.login-form {
  @extend %form-box;
}

.login-form__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.login-form__label {
  @extend %input-label;
}

.login-form__input-wrapper {
  position: relative;
}

.login-form__input {
  @extend %input-form;

  &:focus {
    @extend %input-form-focus;
  }
}

.login-form__input-icon {
  @extend %input-icon;

  .login-form__input-wrapper:focus-within & {
    @extend %input-icon-focus;
  }
}

.login-form__btn {
  @extend %button;
}

.validation {
  margin-top: 5px;
  display: flex;
  align-items: center;

  color: red;
}

.validation__icon {
  margin-right: 5px;
  @include for-size(desktop) {
    font-size: 18px;
  }
}
.validation__text {
  font-size: 12px;
  @include for-size(tablet) {
    font-size: 13px;
  }
  @include for-size(desktop) {
    font-size: 14px;
  }
}
