/* $main-text-color: rgb(255, 89, 0); */
$main-text-color: black;
$secondary-text-color: white;
$third-text-color: rgb(255, 153, 0);
$text-shadow-color: white;
$secondary-color: #0575e6;
/* $secondary-color: rgb(3, 103, 253); */
$input-shadow-color: rgba(3, 103, 253, 0.3);
$border-input-color: rgba(0, 0, 0, 0.2);
