@import '../../styles/base.scss';

header {
  background-color: $secondary-color;

  box-shadow: 0px -5px 10px -5px white inset;
}

.header-nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include for-size(tablet) {
    height: 75px;
    /*    padding-left: 20px;
    padding-right: 20px; */
  }
}

.header-nav__logo {
  position: absolute;
  left: -30px;

  @include for-size(tablet) {
    left: -50px;
  }
}

.header-nav__logo-icon {
  font-size: 24px;
  color: $secondary-text-color;

  @include for-size(tablet) {
    font-size: 36px;
  }
}

.header-nav__wrapper {
  margin-left: 30px;
  position: relative;
  display: flex;

  @include for-size(tablet) {
    margin-left: 50px;
  }
}

.header-nav__item {
  display: block;
  margin-right: 10px;
  position: relative;
  text-transform: uppercase;
  color: white;
  font-size: 14px;

  &:last-child {
    margin-right: 0;
  }

  &::after {
    @extend %nav-link-underscore-hover;
  }

  &:hover::after {
    width: 100%;
  }

  @include for-size(tablet) {
    font-size: 20px;
    margin-right: 20px;
  }
}

.header-nav__item--active {
  &::after {
    @extend %nav-link-underscore-active;
  }
}
