@import '../../styles/base.scss';

.UserNav__wrapper {
  display: flex;
  flex-direction: column;

  @include for-size(tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.UserNav__user-data-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include for-size(tablet) {
    margin-right: 20px;
  }
}

.UserNav__logo {
  font-size: 20px;
  color: $secondary-text-color;

  @include for-size(tablet) {
    font-size: 24px;
  }
}

.UserNav__user-name {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  color: $secondary-text-color;

  @include for-size(tablet) {
    font-size: 16px;
  }
}

.UserNav__btn {
  @extend %button;
  margin-top: 10px;
  width: 80px;
  height: 30px;
  font-size: 12px;
  color: $secondary-text-color;
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #f7b733,
    #fc4a1a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  @include for-size(tablet) {
    margin-top: 0;
    width: 90px;
    height: 40px;
    font-size: 16px;
  }
}
