@import '../../styles/base.scss';

/* .register {
}

.register__container {
  padding-left: 20px;
  padding-right: 20px;
} */

.register__title {
  @extend %form-title;
}

.register-form {
  @extend %form-box;
}

.register-form__label {
  display: block;
  @extend %input-label;
}
.register-form__label--hover {
  color: $secondary-color;
}

.register-form__block-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  @include for-size(tablet) {
    margin-bottom: 20px;
  }
}

.register-form__input-wrapper {
  position: relative;
}

.register-form__input {
  @extend %input-form;

  &:focus {
    @extend %input-form-focus;
  }
}

.register-form__input-icon {
  @extend %input-icon;

  .register-form__input-wrapper:focus-within & {
    @extend %input-icon-focus;
  }
}

.register-form__btn {
  @extend %button;
}

.validation {
  margin-top: 5px;
  display: flex;
  align-items: center;

  color: red;
}

.validation__icon {
  margin-right: 5px;
  @include for-size(desktop) {
    font-size: 18px;
  }
}
.validation__text {
  font-size: 12px;
  @include for-size(tablet) {
    font-size: 13px;
  }
  @include for-size(desktop) {
    font-size: 14px;
  }
}

.register-form__input:focus {
  &::placeholder {
    font-size: 11px;
    @include for-size(tablet) {
      font-size: 12px;
    }
  }
}

.register-form__input::placeholder {
  font-size: 12px;
  @include for-size(tablet) {
    font-size: 14px;
  }
}
